body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Verdana, sans-serif;
}

header h1 {
    font-size: 50px;
    font-weight: normal;
}
    
header a {
    color: aquamarine;
    font-size: 16px;    
}