body {
    background-color: black;
    color: white;
    text-align: center;
    font-family: Verdana, sans-serif;
}

.header h1 {
    font-size: 50px;
    font-weight: normal;
}
    
.header a {
    color: aquamarine;
    font-size: 16px;    
}

.main h2 {
    font-weight: 300;
    font-size:42px;
}

.main h4 {
    font-size: 21px;
    color: grey;
    font-weight: 300;
}

.main a {
    color: aquamarine;
    font-size: 16px;  
}

.main img {
    padding-top: 20px;
}

.footer h4 {
    font-size: 21px;
    color: grey;
    font-weight: 300;
    text-align: right; 
}

